---
import { CollectionEntry, getCollection } from 'astro:content';
import DefaultLayout from '../../layouts/DefaultLayout.astro'

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;
const post = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout>
 <section>
  <article>
   <div class="heading">
    <h1 class="title">{post.data.title}</h1>
    <p> 
       {post.data.pubDate.toDateString()}
    </p>
   </div>
   <div class="content">
     <hr />
     <Content />
    </div>
  </article>
 </section>
</DefaultLayout>

<style>
  section {
    padding-top: 50px;
    background: var(--moody-night);
   }
   article {
     margin: 40px;
     padding: 20px 100px 200px 100px;
   }
   .heading {
    background-color: var(--moody-text);
    border: 1px solid var(--moody-night);
    padding: 5em;
    border-radius: 5px 5px;
   }
   article h1 {
     color: var(--moody-night);
     font-size: 4em;
     font-weight: 900;
     line-height: 1em;
   }
   a {
     color: rgb(107, 207, 254);
     text-decoration: none;
     font-family: 'Poppins', Courier, monospace;
     font-weight: 700;
     cursor: pointer;
   }
   p {
     font-size: 25px;
     color: var(--moody-night);
     padding-top: 10px;
     font-weight: 600;
   }
   .content {
      color: var(--moody-text);
      font-size: 1.4em;
      font-weight: 300;
   }
   @media screen and (max-width: 800px) {
    article {
     margin: 0;
    padding: 90px 10px;
   }
   article h1 {
     font-size: 3.2em;
     font-weight: 800;
     line-height: 1em;
   }
   .heading {
    padding: 1em;
   }
   @media (max-width: 800px) {
    .content {
      font-size: 1em;
      font-weight: 300;
   }
   }
   }
</style>

