
:root {
  --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--blue-shift: rgb(65, 200, 255);
		--pink-shift: rgb(230, 30, 255);
		--pink-light-shift: rgba(255, 103, 230, 0.881);

    font-family: 'Poppins', Courier, monospace;
}

*, *::before,
	*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	}
  html,
	body {
		font-family: 'Popinps', system-ui, sans-serif;
		overflow-x: hidden;
		width: 100%;
    min-height: 100vh;
		line-height: 1.6em;
	}
.dark {
  background: linear-gradient(-45deg, #729ed7, #58c5ef, #230327, #042835);
  background-size: 400% 400%;
  color: white;
}

.dark .nav-links a {
  color: #fff;
}



.dark .btn {
  background: white;
  color: black;
  border: 2px solid white;
  background-position: 0%;
}
.dark .line {
  background: white;
}
.dark .line::before,
.dark .line::after {
  background: white;
}
.dark .navbar ul a {
 color: #fff;
}
