---
import AboutBanner from '../components/AboutBanner.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';

const title = 'about me';
const description = 'who in the world I am';
---

<DefaultLayout title={title} description={description}>
   <section>
    <div class="about-banner"> <AboutBanner /></div>
    <div class="main">
        <div class="bio">
            <h1 class="name">Victor Eno</h1>
            <h2 class="location">Web Developer</h2>
            <h1 class="role">Freelance & Open Source</h1>
        </div>
            <p>
                Welcome to my web space on the internet. I am a programmer with a restless 
                commitment to exploring ways to fully comprehend the magic that lies within the 
                 imaginative art of 
                programming, all in the pursuit of building useful and meaningful value software 
                applications
            </p> 
            <br></br> 
            <p>
                My key interests are in open source software, distributed systems,
                storage solutions, web servers technology and user 
                interface design.
              </p>     
    </div>
   </section>
</DefaultLayout>

<style>
     section {
       background-color: var(--moody-night);
    }
    .main {
        width: 100vw;
        padding: 10em 10em;
    }
    .bio {
        font-family: 'Poppins', Courier, monospace;
        line-height: 1.2em;
        padding-top: 10%;
        padding-bottom: 2em;
    }
    .name {
        font-size: 2.5em;
        padding: 0;
        color: var(--moody-text);
    } 
    .role {
        font-size: 1.1em;
        font-weight: 100;
        padding: 0;
        color: var(--moody-text);
    }
    .location {
        font-size: 1.6em;
        font-weight: 200;
        padding-top: 0.1em;
        color: var(--moody-text);
    }
    p {
        color: var(--moody-text);
        font-size: 1.4em;
        font-weight: 200;
    }

    @media screen and (max-width: 800px) {
        .main {
        width: 100vw;
        padding: 4em 1em;
    } 
    .name {
        font-size: 1.5em;
        padding: 0;
    } 
    .role {
        font-size: 0.8em;
        font-weight: 100;
        padding: 0;
    }
    .location {
        font-size: 1.3em;
        font-weight: 200;
        padding-top: 0.1em;
    }
    }
</style>