---
import ProjectButton from '../components/ProjectButton.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
const title = 'about me';
const description = 'who in the world I am';
---

<DefaultLayout title={title} description={description}>
    <main>
        <div><ProjectButton /></div>
    </main>
</DefaultLayout>
<style>
    main {
        padding-top: 100px;
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>