---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
import ProjectsBanner from '../components/ProjectsBanner.astro';

const title = "Victor's space";
const description = 'my personal portfolio'
---

<DefaultLayout title={title} description={description}>
    <div class="main-container">
        <div class="hero">
            <Hero />
        </div>
        
        <div class="projects">
            <div id="projects">
                 <ProjectsBanner />
            </div>
        </section>
    </div>
</DefaultLayout>

<style>
    .main-container {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    }
    .hero {
        height: 100vh;
        display: flex;
        scroll-snap-align: start;
        background-color: var(--purple-mirage);
    }
    .projects {
        height: 100vh;
        display: flex;
        scroll-snap-align: start;
        background-color: var(--purple-mirage);
    }
</style>
