---

---

<div class="banner-head">
        <h1 class="about">About</h1>
            <div class="avatar">    
        </div>
</div>

<style>
    .banner-head {
        position: relative;
        padding-top: 10em;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        background-color: #6b4ee6;
    }
   .avatar {
        position: absolute;
        width: 25%;
        padding-bottom: 24%;
        border-radius: 50%;
        border: 4px solid white;
        top: 100%;
        left: 5%;
        margin-top: -120px;
        background: linear-gradient(45deg, #84ebf4, #ef96c5);
        background-size: 400% 400%;
   }
    h1 {
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 0.5em;
    margin: 0;
    min-width: 100vw;
    min-height: 8vh;
    color: #ffbc74;
    line-height: 0.7em;
    font-size: 18em;
    font-family:'Poppins', Courier, monospace;
    font-weight: 800;
   }
   
   @media screen and (max-width: 800px) {
    .banner-head {
        position: relative;
        padding-top: 5em;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        background-color: #6b4ee6;
    }
   .avatar {
        top: 100%;
        left: 5%;
        margin-top: -55px;
   }
    h1 {
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 22vh;
    line-height: 0.7em;
    font-size: 7.2em;
    font-weight: 800;
   }
   }
</style>
