---

---
<div class="blog-header">
  <h1 class="blog-theme infinite">infinite</h1>
  <h1 class="blog-theme unordered">unordered</h1>
  <h1 class="blog-theme universe">universe</h1>
  <span class="leading-theme">...of things that capture my interest</span>
</div>

<style>
    .blog-header {
      background-color: #6b4ee6;
      padding-top: 12em;
    }
    .blog-theme {
      font-family: 'Poppins', sans-serif;
      line-height: 0.3em;
      margin: 0;
      padding: 28px 20px 20px 10px;  
  }
  .infinite {
      font-size: 8em;
      font-weight: 400;
      color: rgb(65, 200, 255);
      opacity: 0.28;
  }
  .unordered {
      font-size: 9.5em;
      margin-bottom: 20px;
      padding-left: 100px;
      font-weight: 700;
      color: rgb(65, 200, 255);
      opacity: 0.58;
  }
  .universe {
    font-size: 9.9em;
    color: rgb(65, 200, 255);
    font-weight: 900;
    padding-top: 0.3em;
    padding-bottom: 0.29em;
    opacity: 0.8;
  }
  .leading-theme {
      font-size: 1.8em; 
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      padding-left: 18px;
      padding-top: 0.9em;
      color: rgb(65, 200, 255);
      opacity: 0.5;
    }
    @media screen and (max-width: 800px) {
      .blog-header {
      padding-top: 6.6em;
    }
      .blog-theme {
      font-family: 'Poppins', sans-serif;
      font-size: 3.6em;
      line-height: 0.001em;
      margin: 0;
      padding: 25px 5px;
    }
    .infinite {
      font-weight: 400;
    }
    .unordered {
      padding-left: 44px;
      font-weight: 900;
  }
  .leading-theme {
        font-size: 1.2em; 
        font-weight: 400;
        padding-left: 18px;
        padding-top: 90px;
    }
    }
</style>