---

---

<h1 class="blog-theme infinte">infinite</h1>
<h1 class="blog-theme unordered">unordered</h1>
<span class="leading-theme">...me learning how to think clearly</span>

<style>
    .blog-theme {
      font-family: 'Poppins', sans-serif;
      font-size: 4em;
      line-height: 0.001em;
      margin: 0;
      padding: 35px 10px;
      font-weight: 800;
      background-image: linear-gradient(to left,  #84ebf4, #ef96c5, #84ebf4, #ef96c5);
      background-size: 400% 400%;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
  }
  .unordered h1 {
    margin-bottom: 10px;
  }
  .leading-theme {
        font-size: 2em; 
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        padding-left: 15px;
        background-image: linear-gradient(to right,  #84ebf4, #ef96c5, #84ebf4, #ef96c5);
        background-size: 400% 400%;
       -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    @media screen and (max-width: 800px) {
      .blog-theme {
      font-family: 'Poppins', sans-serif;
      font-size: 3.6em;
      line-height: 0.001em;
      margin: 0;
      padding: 35px 5px;
      font-weight: 900;
  }
    }
</style>