---

---

<h1 class="blog-theme infinite">infinite</h1>
<h1 class="blog-theme unordered">unordered</h1>
<span class="leading-theme">...of things that capture my interest</span>

<style>
    .blog-theme {
      font-family: 'Poppins', sans-serif;
      font-size: 4.5em;
      line-height: 0.001em;
      margin: 0;
      padding: 28px 10px;  
  }
  .infinite {
      color: transparent;
      -webkit-text-stroke: 2px var(--blue-shift);
      line-height: 0.1em;
      font-weight: 500;
  }
  .unordered {
    margin-bottom: 10px;
    color: var(--blue-shift);
    line-height: 0.1em;
    font-weight: 900;
  }
  .leading-theme {
        font-size: 1.8em; 
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        padding-left: 18px;
        padding-top: 90px;
        color: white;
    }
    @media screen and (max-width: 800px) {
      .blog-theme {
      font-family: 'Poppins', sans-serif;
      font-size: 3.6em;
      line-height: 0.001em;
      margin: 0;
      padding: 25px 5px;
      font-weight: 500;
    }
    .unordered {
      font-weight: 900;
    }
    }
</style>