---
import GreenTea from '../components/GreenTea.astro'
const today = new Date();
---

<footer>
		<h1>Made with brilliance and</h1>
		<GreenTea />
		<h1>&copy; {today.getFullYear()} Victor Eno</h1>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0;
		background: var(--purple-mirage);
		color: var(--blue-shift);
		text-align: center;
	}
	h1 {
		font-size: 1em;
		font-weight: 200;
		color: var(--blue-shift);
	}
	@media screen and (max-width: 800px) {
		footer {
		padding: 0;
		text-align: center;
	}
	}
</style>
