---
import GreenTea from '../components/GreenTea.astro';

const today = new Date();
---

<footer>

	<h1 class="footer">Made with brilliance</h1>
	<GreenTea />
	<h1 class="footer"> &copy; {today.getFullYear()} Victor Eno</h1>
	
</footer>

<style>
	footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		position: relative;
		background: var(--purple-mirage);
	}
	.footer {
		font-size: 1em;
		font-weight: 200;
		color: var(--blue-shift);
	}
	@media screen and (max-width: 800px) {
		footer {
		padding: 0;
		text-align: center;
	}
</style>