---

---

<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 72 72"><g transform="translate(72 0) scale(-1 1)"><path fill="#fff" d="M19.905 55.8h32.188C62.889 49.308 68 36.291 68 20.752l-39.366-.436H21.71L4 20.752c0 15.54 5.11 28.556 15.905 35.047Z"/><path fill="#b1cc33" d="M18.324 29.419h14.019v17.524H18.324z"/><path fill="#5c9e31" d="M31 30L21 47l2-.058h9.343L32 30h-1z"/><g fill="none" stroke="#000" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 20.316H4c0 15.54 5.11 28.556 15.905 35.048h32.188C62.889 48.872 68 35.856 68 20.316H31.5"/><path stroke-linecap="round" stroke-miterlimit="10" d="m25.5 20.5l-.167 10.919"/><path stroke-linejoin="round" d="M18.324 29.419h14.019v17.524H18.324z"/></g></g></svg>
</div>

<style>
    .icon {
        display: flex;
        flex-direction: row;
        padding: 7px 5px;
        color: var(--blue-shift);
    }
</style>