---

---

<div class="hamburger-menu">
   <div class="bg-circle"><div class="line"></div></div>
   <ul class="links">
      <a href="/"><li>Home</li></a>
      <a href="/blog"><li>Blog</li></a>
      <a href="/about"><li>About</li></a>
   </ul>
</div>

<style>
   .hamburger-menu {
      display: none;
   }
   .hamburger-menu ul {
      display: none;
   }

   @media screen and (max-width: 800px) {
   .hamburger-menu {
   width: 65px;
   height: 65px;
   padding: 0;
   margin: 0;
   background-color: transparent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
   border-radius: 50px;
   transition: max-height .5s ease-in-out;
 }
 .bg-circle {
      position: absolute;
      z-index: 9;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: transparent;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .bg-circle:hover {
      background: linear-gradient(45deg, #000, #7f8284);
      background-size: 100% 100%;
    }
 .line {
   width: 28px;
   height: 1px;
   background: var(--blue-shift);
   border-radius: 5px;
   transition: all .5s ease-in-out;
 }
 .line::before {
   content: '';
   width: 28px;
   height: 1px;
   background: var(--blue-shift);
   border-radius: 5px;
   position: absolute;
   transition: all .5s ease-in-out;
 }
 .line::after {
   content: '';
   width: 28px;
   height: 1px;
   background: var(--blue-shift);
   border-radius: 5px;
   position: absolute;
   transition: all .5s ease-in-out;
 }
 .line::before {
   transform: translateY(8px);
 }
 .line::after {
   transform: translateY(-8px);
 }

/* ANIMATION */

.hamburger-menu.open .line {
   z-index: 1;
   transform: translateX(-50px);
   background: transparent;
 }

.hamburger-menu.open .line::before {
   transform: rotate(45deg) translate(35px, -35px);
 }

.hamburger-menu.open .line::after {
   transform: rotate(-45deg) translate(35px, 35px);
 }
.hamburger-menu.open:hover {
   background: none;
 }
 
.hamburger-menu.open .links {
   display: block;
   left: -5px;
   position: absolute;
   padding-top: 300px;
   width: 100vw;
   background: linear-gradient(-45deg, #01306e, #58c5ef, #230327, #042835);
   background-size: 400% 400%;
   transition: background .2s ease-out;
   margin: 0;
   list-style: none;
   cursor: pointer;
   opacity: 0.85;
   -webkit-backdrop-filter: blur(40px);
   backdrop-filter: blur(40px);
 }

.hamburger-menu.open a {
   display: block;
   color: var(--blue-shift);
   padding: 20px;
   list-style: none;
   text-decoration: none;
 }

}

</style>

<script>
   const menuBtn = document.querySelector('.hamburger-menu');
   let menuOpen = false;
   menuBtn?.addEventListener('click', () => {
      if (!menuOpen) {
         menuBtn.classList.add('open');
         menuOpen = true;
      } else {
         menuBtn.classList.remove('open');
         menuOpen = false;
      }
   });
</script>