---
import HamburgerMenu from "./HamburgerMenu.astro";
import Links from "./Links.astro";
import "../styles/global.css";
import SocialLinks from "./SocialLinks.astro";
import GithubIcon from "./GithubIcon.astro";
---

<header>
<div class="github-icon"><GithubIcon /></div>
<div class="link-tray"><SocialLinks /></div>
<div class="links"><HamburgerMenu /></div>
</div>
</header>

<style>
    header {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 60px;
        position: fixed;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
    .github-icon {
        flex: auto;
    }
    .link-tray {
        padding: 1.3em;
    }

    /* Mobile Response */

    @media screen and (max-width: 800px) {
    .invisible-div {
        display: none;
    }
    .github-icon {
        display: flex;  
    }
    .links {
        padding-bottom: 200em;
    }
}

</style>