---
import ProjectButton from "./ProjectButton.astro";
import '../../public/fonts/DancingScript-Bold.ttf'
---

<section class="hero">
    <div class="hero-text">
        <h1 class="shadow">Victor</h1>
        <h1 class="greetings">HELLO! I AM</h1>
        <h1 class="name">victor</h1>
        
        <p class="value">
            I'm <strong>web developer</strong> with a focus on creating
            <strong>exceptional user experiences</strong> through  the
            design of <strong> clean, responsive, and 
                visually appealing web interfaces</strong>.
        </p>
    </div>

    <div class="call-to-action">
            <ProjectButton />
    </div>
</section>

<style>
	section {
        padding: 0;
        margin: 0;
        background: linear-gradient(-45deg, #729ed7, #58c5ef, #230327, #042835);
        background-size: 400% 400%;
    }

    .hero {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }

    .hero-text {
        padding: 0;
        text-align: center;
    }

    .greetings {
        font-size: 6em;
        font-weight: 500;
        letter-spacing: 5px;
        background: linear-gradient(45deg, rgb(12, 81, 108), rgb(65, 200, 255), rgb(115, 215, 255));
        background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    .greetings {
        animation: fade-out 4s infinite alternate;
        font-size: 6em;
    }
        @keyframes fade-out {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.7;
            }
            100% {
                opacity: 1;
            }
        }
   
    .hero-text h1 {
        line-height: 0.8em;
        margin: 30px 0 30px;
    }

    .name {
        position: relative;
        z-index: 2;
        font-size: 10em;
        font-weight: 800;
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--blue-shift);
        background: linear-gradient(to left, rgb(24, 96, 125), rgb(12, 81, 108), rgb(24, 96, 125), rgb(14, 77, 101), rgb(65, 200, 255), rgb(70, 193, 241), rgb(79, 202, 250), rgb(24, 96, 125), rgb(24, 96, 125), rgb(12, 81, 108));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 6s linear infinite;
        background-size: 200%;
    }  
    .shadow {
        position: absolute;
        font-size: 10em;
        font-weight: 800;
        text-transform: uppercase;
        z-index: 0;
        padding: 145px 20px 0 208px;
        color: var(--blue-shift);
        opacity: 0.45;
        background: linear-gradient(to right, rgb(24, 96, 125), rgb(12, 81, 108), rgb(24, 96, 125), rgb(14, 77, 101), rgb(65, 200, 255), rgb(70, 193, 241), rgb(79, 202, 250), rgb(24, 96, 125), rgb(24, 96, 125), rgb(12, 81, 108));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 6s linear infinite;
        background-size: 200%;
        
    }         
    @keyframes animate {
            0%{
                background-position: 0% 100%;
            }
            50%{
                background-position: 100% 0%;
            }
            100%{
                background-position: 0% 100%;
            }
  }

    p {
        animation-name: fade-in;
        animation-duration: 2s;
        font-size: 19px;
        font-weight: 200;
    }
        @keyframes fade-in {
            from {
                opacity: 0;
            }
                to {
                 opacity: 1;
                     }
            }

    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .value {
        text-align: justify;
        padding: 0 14em;
        background: linear-gradient(-25deg, #ee07bc, #48dbf8);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @media (max-width: 800px) {
        section { 
            transition: .2s;
            display: flex;
        }
        h1, .name {
            font-size: 5.8em;
            font-weight: 800;
        }
        .shadow {
            font-size: 5.8em;
            font-weight: 800;
            padding: 100px 10px 0 44px;
        }
        .hero-text > .greetings {
            font-size: 2.8em;
            font-weight: 700;
            letter-spacing: 9px;
        }
        .call-to-action {
            padding-top: 6em;
        }
        .value {
        padding: 0 30px;
    }
    }
</style>



















