---
import ProjectButton from "./ProjectButton.astro";
---

<section class="hero">
    <div class="hero-text">
        <h1 class="greetings">HELLO! I AM</h1>
        <h1 class="name">victor</h1>
        <p class="value">
            I'm a programmer and a software developer.
            I will help you build exceptional user
            experiences through clean, responsive, and 
            visually appealing web interfaces.
            </p>
    </div>

    <div class="call-to-action">
            <ProjectButton />
    </div>
</section>

<style>
	section {
        padding: 0;
        margin: 0;
        background: linear-gradient(-45deg, #729ed7, #58c5ef, #230327, #042835);
        background-size: 400% 400%;
    }

    .hero {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }

    .hero-text {
        padding: 0;
        text-align: center;
    }

    .greetings {
        font-size: 8em;
        font-weight: 500;
        letter-spacing: 5px;
        background: linear-gradient(-45deg, #3d510a, #efe558, #ee07bc, #48dbf8);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
   
    .hero-text h1 {
        line-height: 0.8em;
        margin: 30px 0 30px;
    }

    .name {
        font-size: 10em;
        font-weight: 900;
        line-height: 1.2;
        z-index: 2;
        text-transform: uppercase;
        color: transparent;
        background-image: linear-gradient(to right, #e61eff, #41c8ff, #e61eff, #41c8ff);
        -webkit-background-clip: text;
        animation: animate 10s linear infinite;
        background-size: 1000%;
    }           
        @keyframes animate {
            0%{
                background-position: 0% 100%;
            }
            50%{
                background-position: 100% 0%;
            }
            100%{
                background-position: 0% 100%;
            }
            }

    p {
        animation-name: fade-in;
        animation-duration: 7s;
        font-weight: 400;
    }
        @keyframes fade-in {
            from {
                opacity: 0;
            }
                to {
                 opacity: 1;
                     }
            }

    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .value {
        text-align: center;
        padding: 0 20em 0 20em;
        background: linear-gradient(-25deg, #ee07bc, #48dbf8);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    .main-btn {
        padding-top: 10px;
    }

    @media (max-width: 800px) {
        section { 
            transition: .2s;
            display: flex;
        }
        h1, .name {
            font-size: 5.8em;
            font-weight: 900;
        }
        .hero-text > .greetings {
            font-size: 2.8em;
            font-weight: 700;
            letter-spacing: 9px;
        }
        .main-btn {
           display: flex;
           flex-direction: column; 
        }
        .value {
        padding: 0 30px;
    }
    }
</style>