---

---
<div class="projects-header">
    <h1 class="projects-theme brilliance">brilliance &</h1>
    <h1 class="projects-theme creative">creative</h1>
    <h1 class="projects-theme compositions">compositions</h1>
    <span class="leading-theme">...shall never cease</span>
  </div>
  
  <style>
      .projects-header {
        background-color: #6b4ee6;
        padding-top: 12em;
      }
      .projects-theme {
        font-family: 'Poppins', sans-serif;
        line-height: 0.3em;
        margin: 0;
        padding: 28px 20px 20px;  
    }
    .brilliance {
        font-size: 8.2em;
        font-weight: 700;
        color: #5ffae0;
        opacity: 0.88;
    }
    .creative {
        font-size: 9em;
        margin-bottom: 20px;
        padding-top: 50px;
        padding-left: 100px;
        font-weight: 700;
        color: #5ffae0;
        opacity: 0.58;
    }
    .compositions {
        font-size: 7.5em;
        letter-spacing: -0.01em;
        margin-bottom: 20px;
        padding-left: 2em;
        padding-top: 5px;
        font-weight: 400;
        color: #5ffae0;
        opacity: 0.28;
    }
    .leading-theme {
        font-size: 1.8em; 
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        padding-left: 18px;
        padding-top: 90px;
        color: #5ffae0;
        opacity: 0.7;
      }
      @media screen and (max-width: 800px) {
        .projects-header {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        padding-top: 9em;
      }
        .leading-theme {
            padding: 1em;
        }
        .brilliance {
        font-family: 'Poppins', sans-serif;
        font-size: 3.5em;
        line-height: 0.001em;
        margin: 0;
        padding: 0;
      }
      .creative {
        font-size: 6.4em;
        padding-left: 0;
        padding-top: 0.56em;
        font-weight: 600;
      }
      .compositions {
        font-weight: 100;
        font-size: 4em;
        padding-left: 0;
        padding-bottom: 0;
    }
    .leading-theme {
          font-size: 1.2em; 
          font-weight: 400;
          padding-top: 0.2em;
          padding-left: 0;
      }
      }
  </style>