---
import "@fontsource/material-icons";
import { Icon } from 'astro-icon';
---

<div class="main-btn">
    <a href="/projects" class="btn one">See My Work 
    <div .icons><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/></svg>
    </div>
    </a>
</div>

<style>
    .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 4.8em;
    text-align: center;
    border: 2px solid var(--blue-shift);
    font-family: 'Poppins', Courier, monospace;
    font-weight: 300;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer; 
    color: white;
    background: linear-gradient(90deg, rgb(12, 81, 108), rgb(65, 200, 255), #2bbef2);
    background-size: 400% 400%;
}
    .btn {
    animation: blink 4s infinite alternate;
    }
    @-webkit-keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}
    .one:hover {
    color: white;
    border: 2px solid var(--blue-shift);
    background: linear-gradient(90deg, #2bbef2, rgb(12, 81, 108), rgb(65, 200, 255));
    background-size: 100% 400%;  
    animation: animate 4s linear infinite;
    background-size: 150%;
    }
    @keyframes animate {
            0%{
                background-position: 0% 100%;
            }
            50%{
                background-position: 100% 0%;
            }
            100%{
                background-position: 0% 100%;
            }
  }
  @media screen and (max-width: 800px) {
    .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 4.8em;
    text-align: center;
    border: 2px solid var(--blue-shift);
    font-family: 'Poppins', Courier, monospace;
    font-weight: 300;
    width: 300px;
    height: 45px;
    border-radius: 40px;
    cursor: pointer; 
    background-color: transparent;
    color: white;
    box-shadow: 5px 5px 5px transparent;
}
  }
</style>