---

---

<div class="main-btn">
    <a class="btn one">See My Work</a>
</div>

<style>
    .btn {
    display: inline-block;
    padding: 10px 34px;
    text-align: center;
    border: 2px solid var(--blue-shift);
    background-color: transparent;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 300;
    width: 300px;
    height: 45px;
    border-radius: 40px;
    cursor: pointer;
    animation: blink 4s infinite alternate;
}
@-webkit-keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}
.one {
    border: 1px solid var(--blue-shift);
    box-shadow: 5px 5px 5px var(--blue-shift);
}
.one:hover {
    background: transparent;
    color: white;
    border: 2px solid var(--pink-light-shift);
    background-position: 0%;
}
</style>